
<div class="card mb-5 w-25">
    <div class="card-header text-center" style="height: 9rem">
        <h5 class="card-title">{{ prefered.name}}</h5>
        <p class="card-text">{{ prefered.address}} </p>
        <p> {{ prefered.zipcode}} {{ prefered.city}}</p>
    </div>
    <img class="card-img-top" src="/pharmacards/{{ prefered.picture }}.jpg" alt="Card image cap">
    <div class="card-body">
        <p>{{ prefered.contact.firstname }} {{ prefered.contact.lastname }} gives you his/her best piece of advice.</p>
        <div class="row d-flex justify-content-end">
            <a href="{{path('patient_send_to_pharmacist',{'prescription':prescription.id, 'user':prefered.contact.id})}}" class="btn btn-primary mx-2">Order there</a>
        </div>
    </div>
</div>
