{% extends 'base.html.twig' %}
{% block title %}
    Welcome to your prescription
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary d-flex justify-content-end">
        {% if app.user %}
            <p class="mt-3 mr-3">Logged as a patient</p>
            <img class="mr-3" src="/pharmacards/image8.png" style="width: 70px">
            <a href="{{ path('app_logout') }}" class="btn btn-outline-light my-2 my-sm-0"> Log out</a>
        {% endif %}
    </nav>
{% endblock %}
{% block body %}
    <div class="container my-5 ">
        <h1 class="text-center">Welcome to your personnal space {{ app.user.firstname }}</h1>
    </div>

    <div class="container rounded my-3">
        <h3 class="text-center mb-3">All my prescriptions</h3>
        <div class="prescriptionList row justify-content-center">
            {% for prescription in user.prescriptions %}
                <div class="card mb-5 mx-3">
                    <div class="card-header text-center">
                        <h5 class="card-title"> ID : {{ prescription.id }}</h5>
                        <p class="card-text">Made by Dr {{ prescription.practitioner.lastname }} {{ prescription.practitioner.firstname }} </p>
                        {% if not prescription.delivery is null %}
                        <div class="bg-success px-2 rounded">Status : Delivered by pharmacist {{ prescription.pharmacist.lastname }} {{ prescription.pharmacist.firstname }}</div>
                        {% elseif not prescription.preparation is null %}
                            <div class="bg-info px-2 rounded">Status : Your order is ready</div>
                        {% elseif not prescription.buy is null %}
                            <div class="bg-warning">Status : Your order is being prepared</div>
                        {% else %}
                            <div class="bg-light">Status : Your practitioner has sent you this prescription </div>
                        {% endif %}
                        <a class="btn btn-outline-primary mt-4" href="{{ path('patient_prescription_index',{'id':prescription.id}) }}" >See this prescription</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if not prescription is null %}
        <div class="prescription container-fluid row align-items-center">
            <div class="prescription-details container mb-5">
                <h5 class="">Prescription ID : {{ prescription.id }}</h5>
                <table class="table w-100 text-center m-auto table-hover ">
                    <thead class="bg-primary text-light">
                    <tr class="row mx-0 ">
                        <th class="col col-md-3">Drug name</th>
                        <th class="col col-md-1">Dose <br> (mg)</th>
                        <th class="col col-md-3" >Frequency <br> (times per day)</th>
                        <th class="col col-md-2">Duration <br> (in days)</th>
                        <th class="col col-md-3 text-center">Pharmacist Advice</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prescriptionDrug in prescription.prescriptionDrugs %}
                        <tr class="d-flex align-items-center table-borderless">
                            <td class="col col-md-3" >{{ prescriptionDrug.drug.name }}</td>
                            <td class="col col-md-1">{{ prescriptionDrug.dose }}</td>
                            <td class="col col-md-3">{{ prescriptionDrug.frequency }}</td>
                            <td class="col col-md-2">{{ prescriptionDrug.duration }}</td>
                            <td class="col col-md-3 ">{{ prescriptionDrug.advice }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" >No prescriptions for now</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <h2 class="text-center my-5">Pharmacy where you can take your medications :</h2>

        <div class="pharmacies row align-items-center justify-content-center flex-column">
            {{ include('patient/_preferedPharmacy.html.twig') }}

            <form method="post">
                <input name="postcode" value="{{zipcode}}" type=text">
                <button id="more" name="more" class="btn btn-outline-primary mx-2" formmethod="POST" formaction="{{ path('patient_prescription_index',{'id':prescription.id, 'code':'1'}) }}">Search by zipcode</button>
            </form>

            {{  include('patient/_pharmacyList.html.twig') }}
        </div>

    {% else %}
        <p> You have currently no prescriptions. </p>
    {% endif %}

{% endblock %}
