{% extends 'base.html.twig' %}

{% block title %}PrescriptionDrug index{% endblock %}

{% block body %}
    <h1>PrescriptionDrug index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Frequency</th>
                <th>Dose</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prescription_drug in prescription_drugs %}
            <tr>
                <td>{{ prescription_drug.id }}</td>
                <td>{{ prescription_drug.frequency }}</td>
                <td>{{ prescription_drug.dose }}</td>
                <td>{{ prescription_drug.duration }}</td>
                <td>
                    <a href="{{ path('prescription_drug_show', {'id': prescription_drug.id}) }}">show</a>
                    <a href="{{ path('prescription_drug_edit', {'id': prescription_drug.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prescription_drug_new') }}">Create new</a>
{% endblock %}
