{% extends 'base.html.twig' %}

{% block title %}PrescriptionDrug{% endblock %}

{% block body %}
    <h1>PrescriptionDrug</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prescription_drug.id }}</td>
            </tr>
            <tr>
                <th>Frequency</th>
                <td>{{ prescription_drug.frequency }}</td>
            </tr>
            <tr>
                <th>Dose</th>
                <td>{{ prescription_drug.dose }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ prescription_drug.duration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prescription_drug_index') }}">back to list</a>

    <a href="{{ path('prescription_drug_edit', {'id': prescription_drug.id}) }}">edit</a>

    {{ include('prescription_drug/_delete_form.html.twig') }}
{% endblock %}
