{{ form_start(form) }}
{{ form_widget(form.user, {'attr' : {'class' : 'd-none'}}) }}

<div class="row justify-content-center">
    <div class="prescriptionHeader rounded w-50 d-flex flex-column align-items-center bg-success" >
        <p class="mt-2">Patient Name :
            <strong>
                {% if not form.user.vars.data is null %}
                {{ form.user.vars.data.firstName }} {{ form.user.vars.data.lastName }}
            </strong>
        </p>
        <p>Social security number : <strong>{{ form.user.vars.data.socialnumber }}</strong></p>
        {% endif %}
    </div>
</div>

<div class="row justify-content-end">
    <i class='fas fa-plus-circle float-right d-flex align-items-center flex-row-reverse' for="prescription_addPrescriptionDrug">
        {{ form_widget(form.addPrescriptionDrug, {'attr': {'class': 'pb-0 pt-0 btn btn-info p-3 m-2'}}) }}
    </i>
</div>

{% if not form.user.vars.data is null %}
    <div class="prescriptionDrugs">
        {{ include('prescription/_prescriptionDrugList.html.twig') }}
    </div>
{% else %}
    {{ form_widget(form.addPrescriptionDrug, {'attr': {'class': 'd-none'}}) }}
{% endif %}

<div class="row justify-content-between">
    <button class="btn btn-success form-btn">{{ button_label|default('Save') }}</button>

    <a class="btn btn-outline-primary form-btn" href="{{ path('prescription_index') }}">
        {{ 'Get Back to the prescriptions list' }}
    </a>
</div>


{{ form_end(form) }}
