{{ form_start(form) }}

<div class="prescriptionHeader">

    <div class="row form-group">
        <div class="col-sm-12 col-md-2 name">
            {{ form_label(form.user, "Patient Social Number") }}
        </div>
        <div class="col-sm-12 col-md-7 name">
            {{ form_widget(form.user) }}
            {{ form_errors(form.user) }}
        </div>
    </div>

    <p>Patient Name :</p>
    {% if not form.user.vars.data is null %}
        <p>{{ form.user.vars.data.firstName }} {{ form.user.vars.data.lastName }}</p>
    {% endif %}

</div>

{% if not form.user.vars.data is null %}
    <i class='btn btn-primary fas fa-plus-circle float-right d-flex align-items-center flex-row-reverse' for="prescription_addPrescriptionDrug">
        {{ form_widget(form.addPrescriptionDrug, {'attr': {'class': 'pb-0 pt-0 btn btn-primary'}}) }}
    </i>

    <div class="prescriptionDrugs">
        {{ include('prescription/_prescriptionDrugList.html.twig') }}
    </div>
{% else %}
    {{ form_widget(form.addPrescriptionDrug, {'attr': {'class': 'd-none'}}) }}
{% endif %}

<button class="btn btn-primary form-btn">{{ button_label|default('Save') }}</button>

<a class="btn btn-outline-primary form-btn" href="{{ path('prescription_index') }}">
    {{ 'Get Back to the prescriptions list' }}
</a>

{{ form_end(form) }}
