{{ form_start(form) }}

<div class="row justify-content-center">
  <div class="prescriptionHeader text-light rounded w-50 d-flex flex-column align-items-center bg-success my-5">
      <p class="mt-2">Patient Name :
        <strong>
          {% if not prescription.user is null %}
              {{ prescription.user.firstName }} {{ prescription.user.lastName }}
          {% endif %}
        </strong>
      </p>

      {% if is_granted('ROLE_PRACTITIONER') and prescription.user is null %}
          {{ form_widget(form.user) }}
      {% else %}
          <p>Social security number : <strong>{{ prescription.user.socialnumber }}</strong></p>
      {% endif %}

  </div>
</div>


{% if is_granted('ROLE_PRACTITIONER') %}
    {% if not prescription.user is null %}
        {{ form_widget(form.user, {'attr' : {'value': prescription.user.socialnumber,'class' : 'd-none'}}) }}
        <div class="row justify-content-end">
          <i class='fas fa-plus-circle float-right d-flex align-items-center flex-row-reverse' for="prescription_addPrescriptionDrug">
              {{ form_widget(form.addPrescriptionDrug, {'attr': {'class': 'pb-0 pt-0 btn btn-success p-3 m-2'}}) }}
          </i>
        </div>
    {% else %}
        {{ form_widget(form.addPrescriptionDrug, {'attr': {'class': 'd-none'}}) }}
    {% endif %}
{% else %}
    {{ form_widget(form.addPrescriptionDrug, {'attr': {'class': 'd-none'}}) }}
{% endif %}

{% if not prescription.id is null %}
    <div class="prescriptionDrugs">
        {{ include('prescription/_prescriptionDrugList.html.twig') }}
    </div>
{% endif %}

<div class="row justify-content-between flex-row-reverse">
    <button class="btn btn-outline-success form-btn h-25">{{ button_label|default('Save') }}</button>

    <a class="btn btn-outline-dark form-btn h-25" href="{{ path('prescription_index') }}">
        {{ 'Get Back to the prescriptions list' }}
    </a>
</div>

{{ form_end(form) }}
