<td class="col-1 text-center">
{{ prescriptionDrug.vars.data.drug.name }}
</td>

<td class="col-2">
    {{ prescriptionDrug.vars.data.dose }} mg
</td>

<td class="col-2">
    {{ prescriptionDrug.vars.data.frequency }} time(s) a day
</td>

<td class="col-2">
    {{ prescriptionDrug.vars.data.duration }} days
</td>

<td class="col-2">
    {{ form_widget(prescriptionDrug.advice) }}
    {{ form_errors(prescriptionDrug.advice) }}
</td>


