{% extends 'base.html.twig' %}

{% block title %}Prescription index{% endblock %}

{% block body %}
    <h1>Prescription index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prescription Id</th>
                <th>firstname</th>
                <th>lastname</th>
                <th>social number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.id }}</td>
                <td>{{ prescription.user.firstname }}</td>
                <td>{{ prescription.user.lastname }}</td>
                <td>{{ prescription.user.socialNumber }}</td>
                <td>
                    <a href="{{ path('prescription_show', {'id': prescription.id}) }}">show</a>
                    <a href="{{ path('prescription_edit', {'id': prescription.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prescription_new') }}">Create new</a>
{% endblock %}
